<%= form_with(model: article, url: article.persisted? ? article_path(article) : articles_path, method: article.persisted? ? :patch : :post) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit article.persisted? ? "Update Article" : "Create Article" %>
  </div>
<% end %>
