<%= form_tag articles_path, method: :get do %>
  <%= text_field_tag :query, params[:query], placeholder: 'Search articles' %>
  <%= submit_tag 'Search' %>
<% end %>


<!-- Add the link to create a new article -->
<%= link_to 'New Article', new_article_path %>
<% @articles.each do |article| %>
  <h2><%= link_to article.title, article %></h2>
  <p><%= article.body %></p>
  <p>Created by: <%= article.user.username %></p>

  <% if article.status == 'public' %>
    <!-- Display additional details or actions for public articles -->
  <% elsif current_user&.admin? || article.user == current_user %>
    <!-- Display additional details or actions for admin users or the article owner -->
  <% end %>

  <hr>
<% end %>